<html>
<body>
<h1>Edit Item</h1>

<form action="{{url_for('editItem')}}" method = 'POST' enctype="multipart/form-data">
<div>
<p>Name:</p>
<input type='text' size='30' name='name' value="{{item.name}}"/>
</div>
<div>
<p>Description:</p>
<input type='text' size='80' name='description' value="{{item.description}}"/>
</div>
<p>Picture</p>
<input type='file' size='50' name='picture'/>
<div>
</div>
<p>Actual Picture:</p>
<img src="{{url}}"/>
<div>
<input type='submit' value='Create'>

</form>

</body>
</html>